
html, body {
  height: 100%;
  background-image: url('../images/background.png');
  background-repeat: repeat;
}
html {
  font-family: "Helvetica", Arial, sans-serif;
  color: #207F98;
}

h1{
  font-size: 30px;
  font-weight: normal;
  color: 	#009999;
}

h2{
  font-weight: normal;
  color: #065566;
}

h3{
  font-weight: normal;
  color: #065566;
}

h4{
  font-weight: normal;
  color: #065566;
}
h5{
  font-size: 18px;
  font-weight: normal;
  color: #065566;
}

.headerbar{
  position:absolute;
  height: 100px;
  width:100%;
  background-color: #003634;

  border-bottom-style: solid;
  border-bottom-color: #fea04d;
  border-bottom-width: 7px;

}

.abouttext h2, h3, h4{
  color:#087891;
}


.panel-body h2{
  margin-left: 2%;
}

.panel-body h3{
  margin-left: 4%;
}

.panel-body h4{
  margin-left: 6%;
}


/*link behavior, keeps the text color and removes the underline*/
a,a:hover, a:visited, a:active, a:link {
    text-decoration: none;
    color: inherit;
}

.homebutton{
    position:absolute;
    margin-top: 30px;
    left:90%;
    color: #009999;
    font-size: 30px;
}

.panel-default > .panel-heading{


  width: 80%;
  border-top-left-radius: 50px;  /* 100px of height + 10px of border */
  border-top-right-radius: 50px; /* 100px of height + 10px of border */
}

th, td{
  margin: 5px;

}

/*can edit the bottom border color here, as well as the width of the whole table*/
.panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
  border-style: none;
  border-bottom-color: #000;
  border-bottom-left-radius: 50px;  /* 100px of height + 10px of border */
  border-bottom-right-radius: 50px;
  width: 80%;

}

 .panel-title, .panel-default, .panel-heading {
  background-color:inherit;
  border-style: none;
  box-shadow: none;

}
.panel-body{
  background-color: #000;
  border-width: 50px;
  box-shadow: none;
}

.pagetitle{
  margin-left: 5%;
  font-size: 50px;
}

.blurb{
  display:inline;
  padding-left: 100px;
  width: 100%

}

.icons{
  width:100%;
  height:128px;
  position: absolute;
  top: 17%;

}

.hometext{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}
.half-circle {

  position: absolute;
  top: 50%;
  margin-top: 130px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -35%);
  width: 400px;
  height: 300px;
  background-color: #000;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;

}


img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 90%;
}

.borderbox{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height:100px;
  width: 80%;
  background: none;
  display: inline;
}

.topborderbox{
  vertical-align: top;
  height: 20%;
  width: 100%;
  background: #000;
}
.bottomborderbox{
  margin-top: 20px;
  vertical-align: bottom;
  height:50%;
  width: 100%;
  background: #000;
}





.img-circle{

  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px #00706C, 0px 0px 0px 30px #001a19;
  /*border:30px solid #003634;
  padding: 10px;
  */
}
